.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &--top {
    width: 100%;
    border-bottom: 1px solid #d5d8df;
    display: flex;
    align-items: center;

    &__search{
      width: 100%;
      padding: 20px 20px 20px 60px;
      font-size: 1.2em;
      border: 0;
      outline: none;
    }

    &__sort {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 35%;
      margin-right: 10px;

      &__label {
        color: rgb(116, 115, 115);
        width: max-content;
      }

      &__select {
        border: none;
        font-size: 1em;
      }
    }
  }

  &--item {
    box-sizing: border-box;
    margin: 1rem .25rem;
  }

  &--item:hover {
    transition: transform 270ms ease;
    transform: scale(1.05);
  }
}